{% extends 'base.html.twig' %}
{% block title %}Bienvenue sur l'accueil!{% endblock %}

    {% block header %}
    <h1>Accueil</h1>
    {% endblock %}
    {% block menu%}
{# on utilise include pour charger le menu#}
{% include('perso/menu.html.twig  ') %}
{% endblock %}
{% block content %}
    <h3>Notre page d'accueil</h3>
    <h4>Liste des utilisateurs</h4>
    {% for u in users %}
{{ u.id }} - {{ u.login }}<hr/>
{% endfor %}
    <hr/>
{% endblock %}
