<ul>
    {# on obtient le chemin avec la function path et le name, ici on utilise le name dess annotations#}
    <li><a href="{{ path('accueil') }}">Accueil</a></li>
    <li><a href="{{ path('pg2') }}">Page 2</a></li>
    <li><a href="{{ path('pg3') }}">Page 3</a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
</ul>